/node_modules
/public/hot
/public/storage
/public/admin/*.html
/public/admin/bower_components/flot
/public/admin/bower_components/flot.tooltip
/public/admin/bower_components/mocha
/public/admin/bower_components/morrisjs
/public/admin/bower_components/raphael
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/storage
/public/svg
